/* compass Utilities */
/* line 3, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-left, .trav-modal.trav-right, #trav-view-port #trav-overlay {
  width: 0;
}

/* line 7, ../../sass/lib/_placeholders.scss */
.trav-modal .trav-modal-title, .trav-modal .trav-modal-footer, .trav-modal.trav-bottom, .trav-modal.trav-top {
  width: 100%;
}

/* line 11, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-bottom, .trav-modal.trav-top, .trav-modal.trav-center, #trav-view-port #trav-overlay {
  height: 0;
}

/* line 15, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-left, .trav-modal.trav-right {
  height: 100%;
}

/* line 22, ../../sass/lib/_placeholders.scss */
.trav-modal, #trav-view-port, #trav-view-port #trav-overlay {
  position: absolute;
}

/* line 26, ../../sass/lib/_placeholders.scss */
#trav-view-port #trav-view-content {
  position: relative;
}

/* line 30, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-simple-message {
  position: fixed;
}

/* line 34, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-top, .trav-modal.trav-left, .trav-modal.trav-right, .trav-modal.trav-center, #trav-view-port {
  top: 0;
}

/* line 38, ../../sass/lib/_placeholders.scss */
#trav-view-port #trav-view-content, #trav-view-port #trav-overlay {
  top: 50%;
}

/* line 42, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-right {
  right: 0;
}

/* line 46, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-bottom {
  bottom: 0;
}

/* line 50, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-left {
  left: 0;
}

/* line 54, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-center, #trav-view-port #trav-overlay {
  left: 50%;
}

/* line 59, ../../sass/lib/_placeholders.scss */
.trav-modal .trav-modal-footer.trav-right .modal-footer-content {
  float: right;
}

/* line 65, ../../sass/lib/_placeholders.scss */
.trav-modal, .trav-modal .trav-modal-footer, .trav-modal .trav-modal-content, .trav-modal .trav-modal-title, .overlay-active {
  overflow: hidden;
}

/* line 69, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-left, .trav-modal.trav-right {
  overflow: auto;
}

/* line 77, ../../sass/lib/_placeholders.scss */
.trav-modal.trav-top {
  display: block;
}

/* line 81, ../../sass/lib/_placeholders.scss */
.trav-modal .trav-modal-title, .trav-modal .trav-modal-footer.trav-right .modal-footer-content {
  display: table;
}

/* line 85, ../../sass/lib/_placeholders.scss */
.trav-modal .trav-modal-title *, .trav-modal .trav-modal-footer .btn, .trav-modal .trav-modal-footer.trav-right .btn {
  display: table-cell;
}

/* line 89, ../../sass/lib/_placeholders.scss */
.trav-modal .trav-modal-title .trav-close {
  vertical-align: middle;
}

/* line 96, ../../sass/lib/_placeholders.scss */
.trav-modal .trav-modal-title .trav-close {
  text-align: right;
}

/* line 100, ../../sass/lib/_placeholders.scss */
.trav-modal .trav-modal-title .trav-close:hover {
  text-decoration: none;
}

/* line 3, ../../sass/modulos/_trav-window.scss */
.trav-view-reset {
  overflow: hidden;
}

/* line 15, ../../sass/modulos/_trav-window.scss */
.trav-modal.trav-simple-message {
  z-index: 500;
}
/* line 26, ../../sass/modulos/_trav-window.scss */
.trav-modal .trav-modal-title.alert-default {
  background-color: #f5f5f5;
}
/* line 34, ../../sass/modulos/_trav-window.scss */
.trav-modal .trav-modal-title .trav-close {
  color: #333333;
  width: 20px;
  height: 18px;
  padding: 4px;
}
/* line 49, ../../sass/modulos/_trav-window.scss */
.trav-modal .trav-modal-footer {
  background-color: #f5f5f5;
  padding: 20px;
}
/* line 56, ../../sass/modulos/_trav-window.scss */
.trav-modal .trav-modal-footer .btn {
  margin: 0 15px 0 0;
}
/* line 62, ../../sass/modulos/_trav-window.scss */
.trav-modal .trav-modal-footer.trav-right {
  padding: 5px 0;
}
/* line 65, ../../sass/modulos/_trav-window.scss */
.trav-modal .trav-modal-footer.trav-right .modal-footer-content {
  border-spacing: 15px;
  border-collapse: separate;
}
/* line 80, ../../sass/modulos/_trav-window.scss */
.trav-modal .trav-modal-content, .trav-modal .trav-modal-title {
  padding: 20px;
}
/* line 87, ../../sass/modulos/_trav-window.scss */
.trav-modal .trav-modal-content, .trav-modal.trav-left, .trav-modal.trav-right {
  background-color: #fff;
  z-index: 501;
}
/* line 101, ../../sass/modulos/_trav-window.scss */
.trav-modal.trav-top {
  white-space: nowrap;
  clear: both;
  	/*	&.no-tg
  			@extend %display-block;
  			@extend %height-0;
  
  			white-space: nowrap;
  		}*/
}
/* line 121, ../../sass/modulos/_trav-window.scss */
.trav-modal.trav-left.trav-open {
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/* line 131, ../../sass/modulos/_trav-window.scss */
.trav-modal.trav-right.trav-open {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* line 153, ../../sass/modulos/_trav-window.scss */
#trav-view-port {
  -moz-transition-property: z-index;
  -o-transition-property: z-index;
  -webkit-transition-property: z-index;
  transition-property: z-index;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}
/* line 162, ../../sass/modulos/_trav-window.scss */
#trav-view-port #trav-overlay {
  background-color: #000;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
  -moz-transition-property: width, top, left, height;
  -o-transition-property: width, top, left, height;
  -webkit-transition-property: width, top, left, height;
  transition-property: width, top, left, height;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 185, ../../sass/modulos/_trav-window.scss */
.overlay-active #trav-view-port {
  z-index: 500;
}
/* line 188, ../../sass/modulos/_trav-window.scss */
.overlay-active #trav-view-port #trav-overlay {
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  -moz-transition-property: width, top, left, height;
  -o-transition-property: width, top, left, height;
  -webkit-transition-property: width, top, left, height;
  transition-property: width, top, left, height;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
